In [2]:
import re

#Check if the string starts with "The" and ends with "Spain":

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

if x:
  print("YES! We have a match!")
else:
  print("No match")

YES! We have a match!

# Các kiểu ký tự (Metacharacters)

- []: Một tập ký tự 
- \: Báo hiệu một chuỗi đặc biệt (cũng có thể được sử dụng để thoát các ký tự đặc biệt)
- '.' Bất kỳ ký tự nào (ngoại trừ ký tự dòng mới)
- ^ bắt đầu với 
- $ kết thúc với 
- '*' Không hoặc nhiều lần xuất hiện
- '+' Một hoặc nhiều lần xuất hiện 
- ? không hoặc một lần xuất hiện 
- {} Chính xác số lần xuất hiện được chỉ định
- | hoặc là hoặc 
- () nắm bắt và nhóm

In [3]:
import re

txt = "The rain in Spain"

#Find all lower case characters alphabetically between "a" and "m":

x = re.findall("[a-m]", txt)
print(x)

['h', 'e', 'a', 'i', 'i', 'a', 'i']

In [4]:
import re

txt = "That will be 59 dollars"

#Find all digit characters:

x = re.findall("\d", txt)
print(x)

['5', '9']

In [5]:
import re

txt = "hello planet"

#Search for a sequence that starts with "he", followed by two (any) characters, and an "o":

x = re.findall("he..o", txt)
print(x)

['hello']

In [6]:
import re

txt = "hello planet"

#Check if the string starts with 'hello':

x = re.findall("^hello", txt)
if x:
  print("Yes, the string starts with 'hello'")
else:
  print("No match")

Yes, the string starts with 'hello'

In [7]:
import re

txt = "hello planet"

#Check if the string ends with 'planet':

x = re.findall("planet$", txt)
if x:
  print("Yes, the string ends with 'planet'")
else:
  print("No match")

Yes, the string ends with 'planet'

In [8]:
import re

txt = "hello planet"

#Search for a sequence that starts with "he", followed by 0 or more  (any) characters, and an "o":

x = re.findall("he.*o", txt)

print(x)

['hello']

In [9]:
import re

txt = "hello planet"

#Search for a sequence that starts with "he", followed by 1 or more  (any) characters, and an "o":

x = re.findall("he.+o", txt)

print(x)

['hello']

In [10]:
import re

txt = "hello planet"

#Search for a sequence that starts with "he", followed by 0 or 1  (any) character, and an "o":

x = re.findall("he.?o", txt)

print(x)

#This time we got no match, because there were not zero, not one, but two characters between "he" and the "o"

[]

In [11]:
import re

txt = "The rain in Spain falls mainly in the plain!"

#Check if the string contains either "falls" or "stays":

x = re.findall("falls|stays", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['falls']
Yes, there is at least one match!

# The findall() Function

 * The findall() function returns a list containing all matches.
 (Hàm findall() trả về một danh sách chứa tất cả các kết quả khớp.)

In [12]:
import re

#Return a list containing every occurrence of "ai":

txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

- Danh sách chứa các kết quả phù hợp theo thứ tự chúng được tìm thấy.

- Nếu không tìm thấy kết quả phù hợp, một danh sách trống sẽ được trả về:

In [13]:
import re

txt = "The rain in Spain"

#Check if "Portugal" is in the string:

x = re.findall("Portugal", txt)
print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

# The search() Function

- **Hàm search() tìm kiếm chuỗi cho một trận đấu và trả về một đối tượng Match nếu có một trận đấu.**

- **Nếu có nhiều hơn một trận đấu, chỉ lần xuất hiện đầu tiên của trận đấu sẽ được trả về:**

In [14]:
import re

txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

- **Nếu không tìm thấy kết quả phù hợp, giá trị Không có sẽ được trả về:**

In [15]:
import re

txt = "The rain in Spain"
x = re.search("Portugal", txt)
print(x)

None

# The split() Function

- **Hàm split() trả về một danh sách trong đó chuỗi đã được chia ở mỗi lần khớp:**

In [16]:
import re

#Split the string at every white-space character:

txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

- **Bạn có thể kiểm soát số lần xuất hiện bằng cách chỉ định tham số maxsplit:**

In [17]:
import re

#Split the string at the first white-space character:

txt = "The rain in Spain"
x = re.split("\s", txt, 1)
print(x)

['The', 'rain in Spain']

# The sub() Function

- **Hàm sub() thay thế các kết quả khớp bằng văn bản bạn chọn:**

In [18]:
import re

#Replace all white-space characters with the digit "9":

txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

- **Bạn có thể kiểm soát số lượng thay thế bằng cách chỉ định tham số đếm (count):**

In [19]:
import re

#Replace the first two occurrences of a white-space character with the digit 9:

txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 2)
print(x)

The9rain9in Spain

# Match Object

- **Lưu ý: Nếu không có kết quả khớp, giá trị None sẽ được trả về, thay vì Đối tượng khớp.**

In [20]:
import re

#The search() function returns a Match object:

txt = "The rain in Spain"
x = re.search("ai", txt)
print(x)

<re.Match object; span=(5, 7), match='ai'>

**-Đối tượng Match có các thuộc tính và phương thức được sử dụng để truy xuất thông tin về tìm kiếm và kết quả:**

**.Span() trả về một bộ chứa các vị trí bắt đầu và kết thúc của trận đấu.**

**.String trả về chuỗi được truyền vào hàm**

**.Group() trả về phần của chuỗi có khớp**

In [21]:
import re

#Search for an upper case "S" character in the beginning of a word, and print its position:

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())

(12, 17)

In [22]:
import re

#The string property returns the search string:

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.string)

The rain in Spain

In [23]:
import re

#Search for an upper case "S" character in the beginning of a word, and print the word:

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.group())

Spain